# OS junk files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store

# Node / tooling
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Build output
dist/

# Local Crawler ZIP downloads
*.zip
_offline_debug/

# Editor files & folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
